<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHjWE9H7KctUp-mCpDvyqJJ7DThShBbEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1063560039299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.Linguo</string>
	<key>PROJECT_ID</key>
	<string>linguo-16f19</string>
	<key>STORAGE_BUCKET</key>
	<string>linguo-16f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063560039299:ios:00d1918583a71a922bc4b6</string>
</dict>
</plist>